<ion-content class="content">
    <ion-title class="title">Voyager vers?
    </ion-title>
    <ion-searchbar placeholder="Entrer le nom de la ville"></ion-searchbar>
    <ion-title class="title">Destinations populaires</ion-title>
    <ion-card-content class="content_img">
        <img class='img_popular' src="../../assets/image.png" alt="image" />
        <img class='img_popular' src="../../assets/image1.png" alt="image" />
        <img class='img_popular' src="../../assets/image2.png" alt="image" />
        <img class='img_popular' src="../../assets/image3.png" alt="image" />
    </ion-card-content>
    <ion-title class="title">Mes photos</ion-title>
    <ion-card class="card_mybook">
        <ion-card-content class="content_mybook">
            <ion-card-content class="left">
                <ion-avatar><img class="avatar" src="../../assets/image4.png" alt="avatar" /></ion-avatar>
                <ion-text class="name">Nom</ion-text>
            </ion-card-content>
            <ion-text class="date">Date</ion-text>
        </ion-card-content>
        <img class='img' src="../../assets/image5.png" alt="image" />
    </ion-card>
    <ion-card class="card_mybook">
        <ion-card-content class="content_mybook">
            <ion-card-content class="left">
                <ion-avatar><img class="avatar" src="../../assets/image4.png" alt="avatar" /></ion-avatar>
                <ion-text class="name">Nom</ion-text>
            </ion-card-content>
            <ion-text class="date">Date</ion-text>
        </ion-card-content>
        <img class='img' src="../../assets/image3.png" alt="image" />
    </ion-card>
    <ion-content class="footer"></ion-content>
</ion-content>

<app-footer></app-footer>