.content{
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: hidden;
  position: absolute;
}

.title{
  font-weight: bold;
  margin-top: 5%;
  text-align: left;
}

.content_img{
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.content_img img{
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin: 0;
  max-height: 200px;
  max-width: 150px;
  min-height: 200px;
  min-width: 150px;
}

.img_popular{
  clip: rect(50px, auto, auto, 37.5px);
}

.card_mybook{
  height: auto;
  --ion-background-color: #000000;
  position: relative;
}

.content_mybook{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.avatar{
  height: 50px;
  width: 50px;
  vertical-align: top;
}

.name{
  color: #000000;
  line-height: 50px;
}

.date{
  line-height: 50px;
  justify-self: flex-end;
}

.img{
  height: auto;
  max-width: 350px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.footer{
  height: 10%;
}

::-webkit-scrollbar {
  display: none;
}
