<head>
<base href="/">
<title>footer</title>
</head>
<ion-tabs>
  <ion-tab-bar slot="bottom">


    <ion-tab-button href="social">
      <ion-icon style="width:100%" src="/assets/galerie_icon.svg"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button href="carte">
      <ion-icon src="/assets/map_icon.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button href="settings">
      <ion-icon src="/assets/settings_icon.svg"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>