<ion-header>
  <ion-toolbar>
    
    
    <ion-buttons slot="start">
      <p class="tab_back">
        <ion-icon name="arrow-back" (click)="myBackButton()"></ion-icon>
      </p>
    </ion-buttons>
    <ion-title>{{ 'CGU.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="cgu">
    <span class="cgu-title">{{ 'CGU.cgu.title' | translate }}<br></span>
    <br>
    <span class="cgu-title">{{ 'CGU.cgu.1.title' | translate }}<br></span>
    {{ 'CGU.cgu.1.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.2.title' | translate }}<br></span>
    {{ 'CGU.cgu.2.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.3.title' | translate }}<br></span>
    {{ 'CGU.cgu.3.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.4.title' | translate }}<br></span>
    {{ 'CGU.cgu.4.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.5.title' | translate }}<br></span>
    {{ 'CGU.cgu.5.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.6.title' | translate }}<br></span>
    {{ 'CGU.cgu.6.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.7.title' | translate }}<br></span>
    {{ 'CGU.cgu.7.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.8.title' | translate }}<br></span>
    {{ 'CGU.cgu.8.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.9.title' | translate }}<br></span>
    {{ 'CGU.cgu.9.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.10.title' | translate }}<br></span>
    {{ 'CGU.cgu.10.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.11.title' | translate }}<br></span>
    {{ 'CGU.cgu.11.content' | translate }}
    <span class="cgu-title"><br>{{ 'CGU.cgu.12.title' | translate }}<br></span>
    {{ 'CGU.cgu.12.content' | translate }}
  </div>

</ion-content>
