ion-icon {
    font-size: 40px;
  }

ion-badge {
        font-size: 25px;
        font-weight: 100;
        position: absolute;
        padding: 0px 0px 0px 0px;
        width: 30px;
        height: 30px;
        border-radius: 25px;
        bottom: 0;
        background-color: white;
        color: #6C9BD9;
        border: 2px #6C9BD9 solid;    
        
    font-family: Poppin;
    font-weight: bolder;
}