<ion-content class="content">
  <div class="padding">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="pages/login"></ion-back-button>
      </ion-buttons>
    <br><br><br><br>
    <br><br><br><br>

    <ion-item >
      <ion-label color="black">Email* :</ion-label>
      <ion-input color="black" type="mail" placeholder="Adresse email" [(ngModel)]="dataUser.email"></ion-input>
    </ion-item>

    <br>
    <ion-button color="tertiary" expand="block" shape="round" (click)="resetPassword()">Envoyer la demande</ion-button>
  </div>
</ion-content>
