ion-tabs{
<<<<<<< HEAD
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 10vh;
    margin-top: 90vh;
    text-align: center;
    cursor: pointer;
=======
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 10vh;
  margin-top: 90vh;
  text-align: center;
  cursor: pointer;
>>>>>>> refs/remotes/origin/release_galerie
}