<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />


<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Entrer une ville"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content >
  <div id="map" style=" height: 100%;">

  </div> 

  <ion-button  (click)="takePicture()"  color="secondary" expand="block" style="z-index: 8000;position: absolute;right: 25px;bottom:75px;border-radius: 100px;">
    <ion-icon name="camera" slot="start" class="cam_button"></ion-icon>
  </ion-button>

</ion-content>


<app-footer></app-footer>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    