ion-content{
    z-index: 1;
}


ion-icon{
    position: absolute;
    top: 50%;
    left: 75%;
    height: 90%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: block;
}
ion-button{
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 25px;
}

.leafMarker{
    border-radius: 25px;
    //object-fit: cover;
    //border: 2px solid black;
}

.duck{
    transform: translate(-45%, -90%);
    width: 80px;
}

.mycluster {
    background: none!important;
    border: 0px solid #666!important;
}