<ion-content class="content">
  Version beta 0.2.0
  <div class="padding">
    
    <div class="logo">
      <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
       <img src="../../assets/logo_coincoins.png"> 
    </div>

    <!--<div *ngIf="!connected">-->
    <ion-item >
      <ion-label color="light">{{ 'LOGIN.mail.title' | translate }}</ion-label>
      <ion-input color="light" type="mail" placeholder="{{ 'LOGIN.mail.placeholder' | translate }}" [(ngModel)]="dataUser.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">{{ 'LOGIN.password.title' | translate }}</ion-label>
      <ion-input color="light" type="password" placeholder="{{ 'LOGIN.password.placeholder' | translate }}" [(ngModel)]="dataUser.password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button color="light" slot="end" fill="clear" [routerLink]="['../../forgetpassword']">{{ 'LOGIN.forgetpwd' | translate }}</ion-button>
    </ion-item>

    <ion-button color="light" expand="block" shape="round" fill="outline" (click)="login()">{{ 'LOGIN.button.login' | translate }}</ion-button>
    <br>
    <ion-button color="tertiary" expand="block" shape="round" [routerLink]="['../../register']" >{{ 'LOGIN.button.register' | translate }}</ion-button>

    <ion-item lines="none">
      <ion-label color="light" class="ion-text-center">{{ 'LOGIN.orconnect' | translate }}</ion-label>
    </ion-item>
    
    <div class="flex">
      <ion-button color="facebook" shape="round" (click)="facebookLogin()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        {{ 'LOGIN.facebook' | translate }}
      </ion-button>
      <ion-button color="google" shape="round">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        {{ 'LOGIN.google' | translate }}
      </ion-button>
    </div>
    <div class="flex">
      <ion-button color="anonyme" shape="round" (click)="anonymeLogin()">
        <ion-icon slot="start" name="person"></ion-icon>
        {{ 'LOGIN.anon' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
