<ion-content class="content">
  <div class="padding">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="pages/login"></ion-back-button>
      </ion-buttons>
    <br><br><br><br>
    <ion-item >
      <ion-label color="light">{{ 'REGISTER.username.title' | translate }}</ion-label>
      <ion-input color="light" [(ngModel)]="dataUser.pseudo" type="text" placeholder="{{ 'REGISTER.username.placeholder' | translate }}" ></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light">{{ 'REGISTER.mail.title' | translate }}</ion-label>
      <ion-input color="light" type="mail" placeholder="{{ 'REGISTER.mail.placeholder' | translate }}" [(ngModel)]="dataUser.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">{{ 'REGISTER.password.title' | translate }}</ion-label>
      <ion-input color="light" type="password" placeholder="{{ 'REGISTER.password.placeholder' | translate }}" [(ngModel)]="dataUser.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">{{ 'REGISTER.cpassword.title' | translate }}</ion-label>
      <ion-input color="light" type="password" placeholder="{{ 'REGISTER.cpassword.placeholder' | translate }}" [(ngModel)]="dataUser.confirmPassword"></ion-input>
    </ion-item>

    <ion-item>
      <div>
        <ion-checkbox  color="light" [(ngModel)]="dataUser.cgu"></ion-checkbox>
      </div>
      <ion-tab-button  color="medium" tab="cgu">{{ 'REGISTER.cgu' | translate }}</ion-tab-button>
    </ion-item>
    <br>
    <ion-button color="tertiary" expand="block" shape="round" (click)="signUp()">{{ 'REGISTER.validate' | translate }}</ion-button>
    <br><br>
  </div>
</ion-content>
