<ion-content class="content">
   Version beta 0.2.0
  <div class="padding">
    
    <div class="logo">
      <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
       <img src="../../assets/logo_coincoins.png"> 
    </div>

    <ion-item >
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button color="light" slot="end" fill="clear" href="mdp-perdu">Mot de passe oublié ?</ion-button>
    </ion-item>

    <ion-button color="light" expand="block" shape="round" fill="outline" href="carte">Connexion</ion-button>
    <br>
    <ion-button color="tertiary" expand="block" shape="round" href="inscription">Inscription</ion-button>

    <ion-item lines="none">
      <ion-label color="light" class="ion-text-center">Ou connectez-vous avec</ion-label>
    </ion-item>
    
    <div class="flex">
      <ion-button color="facebook" shape="round">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button color="google" shape="round">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div>
  </div>
</ion-content>
